# Virtual environments
venv/
env/
.venv/
.env/
**/venv/
**/env/

# Python
__pycache__/
__pycache__
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
**/.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/